body {
    background-color: #cfe3e3;
    font-family: Arial, sans-serif;
}

.artikel {
    width: auto;
    margin: 20px;
    padding: 10px;
}

h2 {
    font-size: 22px;
}

/* afbeelding links */
.links {
    float: left;
    width: 500px;
    margin-right: 15px;
    margin-bottom: 10px;
    border: 2px solid black;
}

/* afbeelding rechts */
.rechts {
    float: right;
    width: 500px;
    margin-left: 15px;
    margin-bottom: 10px;
    border: 2px solid black;
}